spec:
  template:
    spec:
      volumes:
      - name: nginx-config
        configMap:
          name: client-portal-nginx-config
      containers:
      - name: client-portal
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
